{% extends 'layout/index.html' %} {% block content %}
<div class="card">
  <div class="card-body">
    <h2>Preview Data</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        {{ table|safe }}
      </table>
    </div>
    <form
      action="{{ url_for('download_file', filename=filename) }}"
      method="POST"
    >
      <input type="hidden" name="data" value="{{ data }}" />
      <input type="hidden" name="file_list" value="{{ file_list }}" />
      <input type="hidden" name="name" value="{{ name }}" />
      <input type="hidden" name="nik" value="{{ nik }}" />
      <input type="hidden" name="mobile_phone" value="{{ mobile_phone }}" />
      <button type="submit" class="btn btn-success mt-3">Download Excel</button>
      <a class="btn btn-secondary mt-3" href="{{ url_for('index') }}"
        >Kembali</a
      >
    </form>
  </div>
</div>

<style>
  .table-responsive table,
  .table-responsive th,
  .table-responsive td {
    text-align: center;
  }
</style>
<script>
  document.querySelector("form").onsubmit = function () {
    var data = document.querySelector('input[name="data"]').value;
    if (!data) {
      alert("Data CSV kosong!");
      return false;
    }
    return true;
  };
</script>
{% endblock %}
